<% if @user == current_user %>
  <h1>Welcome, <%= @user.username %>!</h1>

  <h2>Your Favorites </h2>
  <% if @user_favorites.length == 0 %>
    <p>You haven't favorited anything yet! Check out the Show Search to add your favorites</p>
  <% else %>
    <% @user_favorites.each do |show| %>
      <%= render partial: '/shows/show_preview', locals: { show: show } %>
      <a href="/shows/<%= show.id %>"><button>Find Out More</button></a>
    <% end %>
  <% end %>
<% else %>
<p> Sorry, this is not your profile page.  Sign in to start favoriting shows!</p>
<% end %>