<div class="jumbotron" id="jumbotron-picture">
    <h1 id="home-h1">ANOTHER OPENIN'</h1>
    <h2 id="tagline">Find your theatre company's next musical</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading main-page-panels">
                     <h3>Explore</h3>

                </div>
                <div class="panel-body">Find musicals for your company to perform using the search feature, or browse through all of the shows.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading main-page-panels">
                     <h3>Favorite</h3>

                </div>
                <div class="panel-body">When you find a show you like, favorite it to add it to your profile page.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading main-page-panels">
                     <h3>Lights Up!</h3>

                </div>
                <div class="panel-body">When you've decided on the best show for you, we've provided the link for you to reach out to the licensing company. Break a leg! </div>
            </div>
        </div>
    </div>
</div>

<div id="homepage-piano">
  <div id="piano-text-holder">

    <a href="/shows"><button class="btn btn-default btn-lg" id="main-button-left">Explore Shows</button></a>
    <a href="/users/new"><button class="btn btn-default btn-lg" id="main-button-right">Sign Up</button></a>

  </div>
</div>