<div class="jumbotron" id="test">
    <h1 id="home-h1">ANOTHER OPENIN'</h1>
    <h2 id="tagline">Find your theatre company's next musical</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="">Explore</h3>

                </div>
                <div class="panel-body">Find possible musicals for your company to perform using the search feature, or browse through all of the shows.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="">Favorite</h3>

                </div>
                <div class="panel-body">When you find a show you like, favorite it to add it to your profile page.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="">Lights Up!</h3>

                </div>
                <div class="panel-body">When you've decided on the best show for you, we've provided the link for you to reach out to the licensing company. Break a leg! </div>
            </div>
        </div>
    </div>
</div>

<div id="homepage-piano">
  <div id="piano-text-holder">
      <div class="panel panel-default" id="homepage-content-panel">
        <div class="panel-body">
          <blockquote id="song-lyric">"The overture is about to start/You cross your fingers and hold your heart<br>It's curtain time and away we go/Another openin' of another show"- Kiss Me Kate</blockquote>
          <button class="btn btn-default btn-lg" id="main-button-left">Explore Shows</button>
          <button class="btn btn-default btn-lg" id="main-button-right">Sign Up</button>
        </div>
      </div>

  </div>
</div>