<div class="jumbotron" id="test">
    <h1 id="home-h1">ANOTHER OPENIN'</h1>
    <p>Find your theatre company's next musical</p>
</div>

<p>"The overture is about to start/You cross your fingers and hold your heart/It's curtain time and away we go/Another openin' of another show"</p>

<p>Another Openin' was created for theatre companies and schools looking for their next musical. In the musical theatre business, there are many different companies that license musicals to be performed. Because the information is spread out over many websites, it's hard to sort through it all. We've aggregated data from all of these sites so you can find the perfect show for your company.</p>

<button>Find My Next Show</button>