<main>
  <div class="container">
    <h1 class="show-search-header">Search For A Show</h1>
    <div class="search-container">
      <hr>
      <%= react_component('ShowSearch') %>
      <hr>
    </div>
  </div>
</main>