/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";


.jumbotron {
  height: 600px;
}

#test {
  background: url('/assets/seats.jpg') no-repeat center center;
  background-size: cover;
}

#homepage-content-panel {
  width: 50%;
  background: rgba(255,255,255,0.2)!important;
  border-color: black;
}

#song-lyric {
  text-align: center;
  color: black;
  font-size: 1em;
  padding-bottom: 3%;
}

#piano-text-holder {
  padding-top: 20%;
}

#homepage-piano {
  background: url('/assets/piano.jpg')
  no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

#home-h1 {
  padding-top: 10%;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  color: white;
  font-size: 8em;
}

#tagline {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  color: white;
  font-size: 2em;
}

#play-button {
  display: none;
}

#pause-button {
  display: none;
}

#next-button {
  display: none;
}

.search-container {
  display:none;
}

.visibility {
  display: unset;
}

body {
  padding-top: 70px;
  font-family: "Fjalla One";
}

h1 h2 h3 h4 {
  font-family: "Fjalla One";
}

#main-button-left {
  display:inline-block;
}

#main-button-right {
  display:inline-block;
}