/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require rails_bootstrap_forms
 */

.jumbotron {
  height: 600px;
}

html {
  position: relative;
  min-height: 100%;
}

#test {
  background: url('/assets/images/seats.jpg') no-repeat center center;
  background-size: cover;
}

#homepage-content-panel {
  width: 50%;
  background: rgba(255,255,255,0.2)!important;
  border-color: black;
}

#song-lyric {
  text-align: center;
  color: black;
  font-size: 1em;
  padding-bottom: 3%;
}

#piano-text-holder {
  padding-top: 20%;
}

#logo {
  width: 30px;
  margin-bottom: -10px;
}

#homepage-piano {
  background: url('/assets/images/piano.jpg')
  no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

#home-h1 {
  padding-top: 10%;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  color: white;
  font-size: 8em;
}

#tagline {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  color: white;
  font-size: 2em;
}

#play-button {
  display: none;
}

#pause-button {
  display: none;
}

#next-button {
  display: none;
}

.visibility {
  display: unset;
}

.navbar-default {
  background-color: #a20907;
  border:none
}

.navbar-default .navbar-nav > li > a {
   color: white;
    }

.navbar-default .navbar-brand {
  color: white;
}

nav {
  font-family: "Fjalla One";
}

.panel-default > .main-page-panels {
  background-color: #d3d3d3;
  text-align: center;
}

button {
  font-family: "Fjalla One";
}

body {
  font-family: "Roboto";
  margin-bottom: 60px;
}

h1, h2, h3, h4 {
  font-family: "Fjalla One";
}

#main-button-left {
  display:inline-block;
  margin-right: 5%;
  width: 300px;
  padding: 2%;
  font-size: 1.5em;
  opacity: 0.8;
}

#main-button-right {
  display:inline-block;
  padding: 2%;
  width: 300px;
  font-size: 1.5em;
  opacity: 0.8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  font-size: .8em;
}

main {
  margin-top: 70px;
  margin-bottom: 70px;
}

.show-panel {
  text: align-left;
}

.show-panel-headings{
  font-family: "Fjalla One";
  font-size: 1.5em;
  text-align: left;
}

.show-search-header {
  text-align: center;
}

.show-panel-headings a {
  text-decoration: none;
  color: white;
}

.panel-default > .show-panel-headings {
  background: -webkit-linear-gradient(left, #170201 , #fee7e6);
  background: -o-linear-gradient(right, #170201, #fee7e6);
  background: -moz-linear-gradient(right, #170201, #fee7e6);
  background: linear-gradient(to right, #170201 , #fee7e6);
  }

ul {
  list-style-type: none;
}

.show-button-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#error-message {
  display:none;
}

.button-list-item {
  display: inline;
  padding: 1% 1% 1% 0;
}

.glow-button {
 text-decoration: none;
 color: white;
 background: #fa8784 ;
 padding: 15px 40px;
 border-radius: 4px;
 font-weight: normal;
 text-transform: uppercase;
 transition: all 0.2s ease-in-out;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #a20907 ;
  color: white;
}

.tag:hover::after {
   border-left-color: #a20907;
}

.search-container {
  text-align: center;
}

.red-button {
  background-color: #a20907;
  color: white
}
