<main>
  <div class="container">
    <h1 class="show-search-header">Browse All Shows</h1>
    <p class="show-search-header">Don't see your favorite show?  We're adding new shows every day. Check back soon!</p>
    <%= react_component('ShowList') %>
  </div>
</main>
