<main>
  <div class="container">
    <h1 class="show-search-header">Search For A Show</h1>
    <button class="glow-button" id="search-button">Click To Expand Search</button>
    <div class="search-container">
      <%= react_component('ShowSearch') %>
    </div>
    <h1 class="show-search-header">Browse All Shows</h1>
    <%= react_component('ShowList') %>
  </div>
</main>
