<main>
  <div class="container">
    <h1>Search For A Show</h1>
    <button class="glow-button" id="search-button">Click To Expand Search</button>
    <div class="search-container">
      <%= react_component('ShowSearch') %>
    </div>
    <h1>Browse All Shows</h1>
    <%= react_component('ShowList') %>
  </div>
</main>
