<h1>Your Search Results</h1>

<% if @search_results == [] %>
  <h2>Sorry, there were no results for that search</h2>
<% else %>
  <% @search_results.each do |show| %>
     <p><%= show.title %></p>
    <p><%= show.composer %></p>
    <p><%= show.lyricist %></p>
    <p><%= show.librettist %></p>
  <% end %>
<% end %>